@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter&family=Nunito:wght@700&display=swap');
body{
    background: #FFFFFF;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 480px;
    padding-top: 20px;
    background: linear-gradient(rgba(1, 1, 15, 0.322), rgba(6, 6, 44, 0.582) ),url('./image/ppdufond.png') ;
    background-size:cover; 
    background-position: center; 
    color: white; 
    
    
     }
  
.nav-adresse{
    display: flex;
    align-items: center; 
    width: 60%;
    height: 47px;
    margin-left: 26%;
    border-radius: 25px 25px 0 0;
    background: #161616;
    color: #FFFFFF;
}

.nav-adresse .item{
    font-size: 12px;
    margin-top: 15px;
    display: flex; /* Utilisation de flexbox pour aligner l'icône et le texte sur la même ligne */
    align-items: center; /* Aligner les éléments verticalement au centre */
    justify-content: space-between;
    margin-right: 20px; /* Espacement entre les éléments */
}


.item img {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
}

.nav-bar{
    width: 75%;
    height: 80px;
    background:#FF6600 ;
    display: flex;
    justify-content: space-evenly;
    margin-left: 11%;
    border-radius: 45px 0 0 45px;
}
.nav-bar-item1{
    margin-left: -55px;
    background: #FFFFFF;
    width: 216px;
    height: 80px;
    border-radius: 45px 0 45px 45px;
}
.nav-bar-item1 img{
    margin-top: 10px;
    margin-left: 35px;
}
.nav-bar-item {
    margin-top: 30px;
   
}
.nav-bar-item9{
    
    padding-top: 30px;
}
.quote{
    width:185px;
    height: 100%;
    background: #DC4E11;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Utiliser la hauteur totale de la fenêtre du navigateur */
}
.title1 {
    text-align: center;
}
.title1 h1{
    font-family: Exo;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin: 0 10px; /* Marge autour des éléments internes */
}
 .title1 a {
    margin: 0 10px; /* Marge autour des éléments internes */
    color: #FFFFFF;
    text-decoration: none;
    font-family: Exo;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}

.presentation{
    margin-top: 60px;
    display: flex;
}
.aboutOurCompany{
    width: 50%;
    margin:20px 30px 30px 50px;
}

.title{
    display: flex;
    flex-direction: row;
}
.title span{
    margin-left: 20px;
    font-size: 18px;
}
.aboutOurCompany h2{
    font-size: 55px;
    font-weight: bold;
}
.aboutOurCompany p{
    font-size: 18px;
    font-weight: regular;
}


.valeur .navigation{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    font-weight: semiBold;
    color: #1F1F1F;
    font-size: 18px;
    gap: 10px;
}
.valeur p{
    border-left: 2px solid #FF6600;
    padding-left: 10px;
    font-size: 16px;
    font-weight: Regular;
    color: #1C1D20;
    margin-bottom: 55px;
}

.learnMore{
    display: flex;
    flex-direction: row;
}

 .button{
    padding-top: 20px;
    padding-bottom: -20px;
    width: 160px;
    height: 40px;
    background: #FF6600;
}
.button span {
    margin: 20px 20px 20px 20px;
    color: #FFFFFF;
}
.phone{
    margin-left: 60px;
    display: flex;
}
.phone img{
    width: 80px;
    height: 80px;
}
.phone p{
    font-size: 16px;
    font-weight: Regular;
    color:#505050 ;
}
.phone span{
    font-size: 24px;
    font-weight: bold;
    color: #1F1F1F;
}
.number{
    margin-top:-20px;
    margin-left: 10px;
}
.imgExperience img{
    width: 500px;
    height: 500px;
    margin-top: 40px;
}
.decoArrireImg{
    margin-top: -490px;
    margin-left: 40px;
    border-radius: 20px;
    width: 480px;
    height: 500px;
    background: #FF6600;
    opacity: 20%;
}
.whatWeDo{
    width: 100%;
    height: 578px;
    padding-top: 20px;
    background-image: url('images/fomd1.png');
    background-size:cover; 
    background-position: center; 
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.images{
    display: flex;
    flex-direction: column;
}
.image1{
    width: 470px;
    height: 420px;
    margin-left: 120px;
}
.image2{
    width: 400px;
    height: 300px;
    margin-top: -90px;
    margin-left: 85px;


   
}
.image3{
    width: 332px;
    height: 240px;
    margin-top: -180px;
    margin-left: 258px;
}

.responses{
    margin-left:53px ;
}
.response h3{
    font-size: 36px;
    font-weight: extraBold;
    color: #1F1F1F;
}
.response p{
    font-size: 18px;
    font-weight: regular;
    color: #1C1D20;
}
.res{
    font-size: 18px;
    font-weight: semiBold;

color: #494949;    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}
.response .button{
    width: 190px;
    height: 40px;
}
.whatWeDo{
    margin-bottom: 300px;
}

.GreatExperience{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 390px;
    height: 470px;
    margin: 20px;
    border-radius:0 0 96px 96px ;
    align-items: center;
    background: #FFFFFF;
    border: 2px solid #d3d3dd;
    border-style: dotted;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card h3{
    font-size: 25px;
    font-weight: Bold;
    color: #1F1F1F;
}
.card p{
    font-size: 16px;
    font-weight: Regular;
    color: #494949;
}
.div-icon {
    width: 175px;
    height: 40px;
    border-radius: 42px 42px 0 0;
    align-items: center;
    background: #161616;
    padding-top: 10px;
}
.div-icon span {
    margin: 0px 0px 0px 90px;
}
.titre .title {
    align-items: center;
    color: #FF6600;
    gap: 20px;
    font-size: 18px;
    font-weight: Regular;
    flex-direction: column;
}
.titre .title img{
    width: 30px;
    height: 30px;
}
.buildDreamButton{
    margin-top: 150px;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 50px;
    border: 2px solid #d6d6d6;
    border-style: dotted;
    margin-left: 32%;
    border-radius: 0px 20px 20px 0;
}
.buildDreamButton .textBtn{
    width: 400px;
    font-size: 16px;
    margin-left: 30px;
    font-weight: Regular;
    color: #FF6600;
    
}
.btn-call-to-action{
    width: 200px;
    height: 40px;
    border-radius: 0px 20px 20px 0;
    align-items: center;
    vertical-align: center;
    background: #FF6600;
    padding-top: 10px;
    margin-top: 0px;
    color: #FFFFFF;
}
.spanBtn {
    width: 100%;
    padding-top: 10px;
    margin-top: 20px;
}

.sectionEmployers{
    margin-top: 320px;
    display: flex;
    width: 100%;
    height: 750px;
    padding-top: 30px;
    justify-content: center;

    background-image: url('images/Section2.svg');
    background-size:contain; 
    background-position: center; 
}
.cardEmployer{
    margin-top: 2000px;
    border-radius : 96px 96px 0 0 ;
    width: 370px;
    height: 449px;
    margin: 50px;
    background: #FFFFFF;
}

.cardEmployer img{
    margin-top: -54px;

    width: 350px;
    height: 500px;
}
.infos{
    width: 336px;
    height: 99px;
    background: #F2F2F2;
    margin-top: -20px;
    border-radius :0 0 0  41px  ;

}
.infos h3,p{
    margin-top: 20px;
    margin-left: 45px;
    gap: 30px;
}
.sectionBlog{
    display: flex;
    justify-content: center;
}
.imgNomAuteur1{

    width: 563px;
    height: 320px;
    background: #494949;
    color: #FFFFFF;
    margin: 20px;
    display: flex;
    align-items: end;
    border-radius :80px 0px 0  0px  ;
    border-bottom: 4px solid #FF6600;
}
.imgNomAuteur2{

    width: 563px;
    height: 320px;
    background: #494949;
    color: #FFFFFF;
    margin: 20px;
    display: flex;
    align-items: end;
    border-radius :0 80px 0  0px  ;
    border-bottom: 4px solid #FF6600;

}
.imgNomAuteur img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.imgNomAuteur .texteContent{
    margin-left: 40px;
}
.date p{
    font-size: 12px;
    font-weight: bold;
    color: #FF6600;
}
.titreArticle p{
    font-size: 26px;
    font-weight: bold;
    color: #1F1F1F;
}
.boutonExplorer{
    margin-left: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6600;
    width: 177px;
    height: 55px;
    color: #FFFFFF;
    margin-bottom: 150px;
}