@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter&family=Nunito:wght@700&display=swap');
body{
    background: #FFFFFF;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 480px;
    padding-top: 20px;
    background: linear-gradient(rgba(1, 1, 15, 0.322), rgba(6, 6, 44, 0.582) ),url('./image/ppdufond.png') ;
    background-size:cover; 
    background-position: center; 
    color: white; 
    
    
     }
  
.nav-adresse{
    display: flex;
    align-items: center; 
    width: 60%;
    height: 47px;
    margin-left: 26%;
    border-radius: 25px 25px 0 0;
    background: #161616;
    color: #FFFFFF;
}

.nav-adresse .item{
    font-size: 12px;
    margin-top: 15px;
    display: flex; /* Utilisation de flexbox pour aligner l'icône et le texte sur la même ligne */
    align-items: center; /* Aligner les éléments verticalement au centre */
    justify-content: space-between;
    margin-right: 20px; /* Espacement entre les éléments */
}


.item img {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
}

.nav-bar{
    width: 75%;
    height: 80px;
    background:#FF6600 ;
    display: flex;
    justify-content: space-evenly;
    margin-left: 11%;
    border-radius: 45px 0 0 45px;
}
.nav-bar-item1{
    margin-left: -55px;
    background: #FFFFFF;
    width: 216px;
    height: 80px;
    border-radius: 45px 0 45px 45px;
}
.nav-bar-item1 img{
    margin-top: 10px;
    margin-left: 35px;
}
.nav-bar-item {
    margin-top: 30px;
   
}
.nav-bar-item9{
    
    padding-top: 30px;
}

.quote{
    width:185px;
    height: 100%;
    background: #DC4E11;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Utiliser la hauteur totale de la fenêtre du navigateur */
}
.title1 {
    text-align: center;
}
.title1 h1{
    font-family: Exo;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin: 0 10px; /* Marge autour des éléments internes */
}
 .title1 a {
    margin: 0 10px; /* Marge autour des éléments internes */
    color: #FFFFFF;
    text-decoration: none;
    font-family: Exo;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}


.titre{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.titre .title {
    align-items: center;
    color: #FF6600;
    gap: 20px;
    font-size: 18px;
    font-weight: Regular;
    flex-direction: column;
}
.titre .title img{
    width: 30px;
    height: 30px;
}


.sectionEmployers{
    margin-top: 45px;
    display: flex;
    width: 100%;
    height: 750px;
    padding-top: 30px;
    justify-content: center;

    background-image: url('images/Section2.svg');
    background-size:contain; 
    background-position: center; 
}
.cardEmployer{
    margin-top: 200px;
    border-radius : 96px 96px 0 0 ;
    width: 370px;
    height: 449px;
    margin: 50px;
    background: #FFFFFF;
}

.cardEmployer img{
    margin-top: -54px;

    width: 350px;
    height: 500px;
}
.infos{
    width: 336px;
    height: 99px;
    background: #F2F2F2;
    margin-top: -20px;
    border-radius :0 0 0  41px  ;

}
.infos h3,p{
    margin-top: 20px;
    margin-left: 45px;
    gap: 30px;
}
footer{
    margin-top: 3%;
}
footer .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #140626;
}
footer .images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
footer .images img{
    width: 150px;
    height: 115px;
}
.footer_top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    gap: 2%;
    width: 88%;
    margin-right: 11%;
}

.footer_top_left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 100%;

}
.cta{
    display: flex;
    align-items: start;
    justify-content: space-around;
}
.cta img{
  margin-top: 8%;
}
.tel span{
    color: #FF6600;
    font-family: Exo;
    font-size: 19px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}
.tel p{
    color: #F7F7F7;
    font-family: Exo;
    font-size: 19px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

}
.footer_social{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer_top_right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.footer_top_right h3{
    font-family: Exo;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}
.footer__newsletter{
    display: flex;
}
.footer__newsletter input[type="email"] {
   
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    padding: 19px, 40px, 19px, 40px;
    border-radius: 40px;
    background: #200B3A;
    color: #F7F7F7;

}

.footer__newsletter button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    padding: 18.5px, 32.64px, 19.5px, 33px;
    border-radius: 30px;
    margin-left: -25px;
    background: #200B3A;

}
.footer_bot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}
.footer_bot .partie_logo{
    width: 25%;
}
.footer_bot .partie_logo p{
    font-family: Exo;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.les_links h2{
    font-family: Exo;
    font-size: 22px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;

}

.les_links ul{
    display: inline-block;
   
   
  
    
}
.les_links  li{
    list-style: none;
    margin-top: 10px;
    font-family: Exo;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    
    

}
.les_links  li a{
    color: #FFFFFF;
    text-decoration: none;
    
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #371D59;
}
.copyright p{
    font-family: Exo;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;

}
